div[data-role=content] a {
  width: 350px;
}

#index div, #index a {
  margin: 0 auto;
}

#index a {
  margin-top: 10px;
}

#index p {
  width: 400px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #888;
  font-size: 20px;
  font-family: Lato, 'Helvetica Neue';
}

#main a {
  margin: 0 auto;
}

#main div[data-role=content]  {
  position: absolute;
  width: 100%;
  height: 100%;
}

#main div[data-role=content] > div {
  position: relative;
  top: 30%;
}

#main div[data-role=content] a:first-child {
  margin-bottom: 10px;
}
